.list-group {
    &-item {
        a {
            display: block;

            &.click{
                cursor: pointer;
            }

            &.no-click {
                cursor: not-allowed;
            }

            &.active {
                font-weight: bold;
                color: #007bff;
            }
        }
    }
}